@import "tailwindcss";

:root {
  --primary: #203b45; /* fundo do botão default */
  --primary-foreground: #fbe9d0; /* texto do botão default */
  --secondary: #e64833; /* fundo do botão secondary */
  --secondary-foreground: #ffffff; /* texto do botão secondary */
  --destructive: #ca0303; /* fundo do botão destructive */
  --foreground: #c0dedd; /* texto do body */
  --neutral: #c0dedd; /* texto body alternativo */
  --success: #6fc900;
  --extra: #fbe9d0;
}

body {
  background-color: var(--primary);
  color: var(--neutral);
}
