@import "tailwindcss";

:root {
  --primary: #052A37;
  --primary-foreground: #CACDCD;
  --secondary: #ff5646;
  --secondary-foreground: #FBE9D0;
  --destructive: #ca0303;
  --foreground: #CACDCD;
  --neutral: #CACDCD;
  --success: #6fc900;
  --extra: #FBE9D0;
}

.font1 {
  font-family: "Sansation", sans-serif;
}

body {
  background-color: #fff;
  color: var(--primary);
  font-family: "Sansation", sans-serif;
}

/* src/app/globals.css */

.ProseMirror {
  outline: none;
  min-height: 200px;
  /* Adicione outros estilos de fonte, line-height, etc. aqui */
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

/* Estilos para a tabela */
.ProseMirror table {
  border-collapse: collapse;
  margin: 1em 0;
  width: 100%;
}
.ProseMirror th,
.ProseMirror td {
  border: 1px solid #ccc;
  padding: 8px;
}
